/*Rethink Sans font from https://fonts.google.com*/
@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");

/*GENERAL STYLING*/
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "Rethink Sans", sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 600;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

.header {
    background-image: url(../images/second-background.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding-bottom: 80px;
}

.container {
    max-width: 1740px;
    padding: 0 10px;
    margin: 0 auto;
}

/*NAVBAR*/
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 90px;
    font-size: 20px;
    font-weight: 700;
}

.menu__list {
    display: flex;
    color: #0a507a;
    gap: 40px;
}

/*phone button*/
.header__phone {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #0a507a;
    color: #fff;
}

/*HEADER CONTENT*/
.title-image {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    z-index: -1;
}

/*Hides the element visually from users, but not from the browser 
so that search engines can still "see" it.*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
}

.title-text {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #2b2a29;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.header__content {
    display: flex;
    justify-content: space-between;
}

.header__info {
    display: flex;
    flex-direction: column;
    gap: 118px;
    margin-top: auto;
}

/*servises that could be provided*/
.header__info-list {
    display: flex;
    gap: 18px 10px;
    flex-wrap: wrap;
    max-width: 500px;
}

.header__info-item {
    padding: 10px 20px;
    border: 2px solid #0a507a;
    border-radius: 30px;
    color: #0a507a;
    font-size: 26px;
    font-weight: 700;
}

/*social media icons*/
.header__social {
    margin-top: auto;
}

.header__social-list {
    display: flex;
    gap: 20px;
}

/*header news box*/
.header__news {
    margin-top: -50px;
}

.header__news-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    padding: 50px 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

.header__news-title,
.header__news-time {
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
}

.header__news-time {
    margin-bottom: 10px;
}

.header__news-link {
    margin-bottom: 30px;
    /*Removes extra space after the link 
    so that the user cannot click the link outside of its space. */
    align-self: flex-start;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: underline;
}

.header__buttons {
    display: flex;
    gap: 20px;
}

.header__buttons a {
    padding: 10px 20px;
    border: 1px solid #2b2a29;
    border-radius: 30px;
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
}

.header__buttons-book-now {
    background-color: #2b2a29;
    color: #fff;
}

.header__buttons-activities {
    background-color: rgba(255, 255, 255, 0.3);
    color: #2b2a29;
}

@media (max-width: 1919px) {
    .header {
        padding-bottom: 50px;
    }
    .header__top {
        padding-top: 30px;
    }

    .header__news-box {
        margin-bottom: 20px;
    }
}

/*QUOTE*/
.text {
    max-width: 1075px;
    padding: 150px 0;
    font-size: 64px;
    font-weight: 800;
    text-transform: uppercase;
}

/*ABOUT*/
.about {
    margin-bottom: 150px;
}

.about__inner {
    display: flex;
    justify-content: space-between;
}
.about__content {
    display: flex;
    flex-direction: column;
    max-width: 560px;
}
.about__subtitle {
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.about__title {
    padding-bottom: 100px;
    font-size: 64px;
    font-weight: 800;
    text-transform: uppercase;
}
.about__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}
.about__item {
    padding: 10px 20px;
    border: 2px solid #0a507a;
    border-radius: 30px;
    color: #0a507a;
    font-size: 26px;
    font-weight: 700;
}
.about__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: auto;
}
.about__image {
}
